/* Write your CSS here */
.list-item-container {
  border-radius: 5px;
  background-color: #ffffff;
  height: 150px;
  width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 60px;
  width: 60px;
}
.app-name {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-weight: 500;
}
